---
import IconYoutube from "../elements/IconYoutube.astro";
import IconTelegram from "../elements/IconTelegram.astro";
import IconPhone from "../elements/IconPhone.astro";
interface Props {
  className?: string;
}

const { className } = Astro.props;

import { getCollection } from 'astro:content';
const contactEntries = await getCollection('information');
const contactInfo = contactEntries[0].data;
---

<nav class:list={["nav-social", className]}>
  <ul class="nav-items">
    <li class="nav-item"><IconYoutube /></li>
    <li class="nav-item"><IconTelegram /></li>
    <li class="nav-item"><IconPhone /></li>

  </ul>
</nav>

<style>
  .nav-items {
    display: flex;
    column-gap: 1rem;
  }

  .nav-item a {
    display: block;
    width: 2rem;
    height: 2rem;
  }
  
  .nav-social--activ {
      display: none;
      margin-top: 3.75rem;
    }

  @media screen and (max-width: 767.98px) {
    .nav-social {
      display: none;
    }

    .nav-social--activ {
      display: flex;
    }
  }
</style>
