@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    font-display: block;
    src:
        local(""),
        url("/fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"),
        url("/fonts/Montserrat/Montserrat-Regular.woff") format("woff");
  }

/* Static fonts*/
@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: normal;
    font-display: block;
    src:
        local(""),
        url("/fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2"),
        url("/fonts/Montserrat/Montserrat-SemiBold.woff") format("woff");
    
}



