@import url("./normalize.css");
@import url("./fonts.css");
:root {
    --color-main: #ffffff; /* --white: #fff; */

    --color-primary: #152f70; /*--dark-blue-main: */
    --color-primary-rgba: 21, 47, 112;
    --color-secondary: #0a93ef; /*--blue-main: */
    --color-tertiary: #e1f5fe; /*--light-blu*/
    --color-subsidiary: #cdc3c0;

    --color-text-primary: #737b8c; /* --gray-main-text */
    --color-text-secondary: #565656; /* --dark-gray-text */
    --color-text-tertiary: #f5f6fa; /* --light-gray-text */

    --color-accent: #184f8b; /*--dark-blue-accentа*/

    /* --color-hover: #fcf1e0; */

    --font-family-primary: "Roboto Variable", sans-serif;
    --font-family-secondary: "Work Sans Variable", sans-serif;
    /* --font-size-primary: 14px; */

    --width-container: 1256px; /* !!! 1200px + 2*28px потім треба змінити */
    --pad-container: 28px; /*122 20 при 1200 vs 390*/ /* !!! 1200px + 2*28px потім треба змінити */
    /* padding, margin, gap */
    --padding-35: 2.1875rem;
    /* 1200 vs 390*/
    --indent_200-90: clamp(5.625rem, 2.3148rem + 13.5802vw, 12.5rem);
    --indent_150-60: clamp(3.75rem, 1.0417rem + 11.1111vw, 9.375rem);
    --indent_150-40: clamp(2.5rem, -0.8102rem + 13.5802vw, 9.375rem);
    --indent_134-44: clamp(2.75rem, 0.0417rem + 11.1111vw, 8.375rem);
    --indent_100-90: clamp(5.625rem, 5.3241rem + 1.2346vw, 6.25rem);
    --indent_100-40: clamp(2.5rem, 0.6944rem + 7.4074vw, 6.25rem);
    --indent_90-60: clamp(3.75rem, 2.8472rem + 3.7037vw, 5.625rem);
    --indent_66-8: clamp(0.5rem, -1.2454rem + 7.1605vw, 4.125rem);
    --indent_60-44: clamp(2.75rem, 2.2685rem + 1.9753vw, 3.75rem);
    --indent_60-40: clamp(2.5rem, 1.7778rem + 2.963vw, 4rem);
    --indent_44-24:clamp(1.5rem, 0.8981rem + 2.4691vw, 2.75rem);
    --indent_40-16: clamp(1rem, 0.2778rem + 2.963vw, 2.5rem);
    
    
    --gap: 20px;
    --step-img: clamp(.625rem, 0.3241rem + 1.2346vw, 1.25rem);
}

.container {
    margin-inline: auto;
    max-width: var(--width-container);
    width: 100%;
    padding: 0 var(--pad-container);
}
.text-h1,
.text-h2,
.text-h3 {
    font-family: var(--font-family-secondary);
    font-weight: 700;
}

.text-h1 {
    font-size: clamp(3.438rem, 2.204rem + 5.062vw, 6rem); /*96 55 при 1200 vs 390*/
    line-height: 125%;
    letter-spacing: 0.02em;
}

.text-h2 {
    font-size: 2.625rem;
    line-height: 129%;
    letter-spacing: 0.01em;
}

.text-h3 {
    font-size: 1.375rem;
    line-height: 118%;
    letter-spacing: 0.01em;
}

.text-s {
    font-family: var(--font-family-primary);
    font-weight: 400;
    font-size: 1.25rem;
    color: var(--color-text-secondary);
    line-height: 125%;
    @media screen and (max-width: 575.96px) {
        font-size: 1rem;
    }
}

.text-basic {
    font-family: var(--font-family-primary);
    font-weight: 400;

}

.text-basic--16 {
    font-size: 1rem;
    line-height: 175%;
    letter-spacing: 0.01em;
}

.text-basic--20 {
    font-size: 1.25rem;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-capitalize {
    text-transform: capitalize;
}

.w-285 {
    max-width: 285px;
    width: 100%;
}

.w-387 {
    max-width: 387px;
    width: 100%;
}

.w-488 {
    max-width: 488px;
    width: 100%;
}

.w-588 {
    max-width: 588px;
    width: 100%;
}

.w-692 {
    max-width: 692px;
    width: 100%;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* corner*/
.corner-box {
    --corner-top-width: "";
    --corner-top-height: "";
    --corner-bottom-width: "";
    --corner-bottom-height: "";
    position: relative;
    max-width: inherit;
    width: inherit;
    height: 100%;
    background-color: var(--color-main);
}
.corner-box__top,
.corner-box__bottom {
    z-index: -1;
    position: absolute;
    content: "";
    background: linear-gradient(135deg, #e1f5fe 0%, #0a93ef 100%);
}

.corner-box__top {
    top: calc(-1 * var(--step-img));
    right: calc(-1 * var(--step-img));
    width: var(--corner-top-width);
    height: var(--corner-top-height);
}

.corner-box__bottom {
    bottom: calc(-1 * var(--step-img));
    left: calc(-1 * var(--step-img));
    width: var(--corner-bottom-width);
    height: var(--corner-bottom-height);
}

/* icon */
.icon-big {
    width: 3rem;
    height: 3rem;
}

.icon-fill {
    fill: var(--color-secondary);
    transition: 0.5s;
  }

  /* .icon:hover .icon-fill {
    fill: red;
  } */

@media screen and (max-width: 992.98px) {
    .w-488,
    .w-692 {
        max-width: 590px;
    }
}
