---
import { Image } from "astro:assets";
// import videoPoster from "../assets/img/house-video-poster.png";
import videoPoster from "../assets/img/house-video-poster.webp";
import video from "../assets/video/video-clip1-360.mp4";
import UnderlineH2 from "./elements/UnderlineH2.astro";
import ButtonSmall from "./elements/ButtonSmall.astro";

---

<section class="about">
  <div class="container">
    <div class="about-wrap">
      <section class="about-video w-692">
        <div class="corner-box">
          <div class="corner-box__top" aria-hidden="true"></div>
          <video class="img-cover" poster={videoPoster.src} src={video} width={692} height={452} controls muted/>
          <!-- Работа с кнопкой запуска и с опасити -->
        </div>
      </section>
      <section class="about-content w-488">
        <div class="about-content__wrap w-387">
          <div>
            <h2 class="about-title text-h2">About homeShine painting</h2>
            <UnderlineH2/>
          </div>
          <p class="about-description text-basic text-basic--16">
            With HomeShine Painting, you're choosing skilled professionals dedicated to transforming your home. From
            flawless interior finishes to durable exterior coatings, kitchen and deck revitalization, and personalized
            color selection, we ensure exceptional results every time.
          </p>
          <ButtonSmall textButton="VIEW MORE" />
        </div>
      </section>
    </div>
  </div>
</section>

<style>
  .about {
    padding-top: var(--indent_150-40);
    padding-bottom: var(--indent_150-40);
  }
  .about-wrap {
    display: flex;
    justify-content: space-between;
    column-gap: var(--gap);
    row-gap: 3.75rem;

  }

  .about-title {
    color: var(--color-primary);
    text-transform: capitalize;
  }

  .about-description {
    color: var(--color-text-primary);
  }

  .about-video {
    height: 452px;
    position: relative;
    aspect-ratio: 0.7;
  }

  .about-video::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: var(--color-primary);
    opacity: 0.45;
    z-index: 2;
  }

  .about-video .corner-box {
    --corner-top-width: 60%;
    --corner-top-height: 318px;
  }

  .about-content {
    display: flex;
    justify-content: end;
  }

  .about-content__wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: var(--padding-35);
  }

  @media screen and (max-width: 768.98px) {
    .about-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .about-description {
      margin-top: 3.75rem;
      margin-bottom: 3.75rem;
    }

    .about-content .w-387 {
      max-width: 100%;
    }

    .about-content__wrap {
      padding-left: 0;
      align-items: center;
    }

    .about-video .corner-box {
      --corner-top-width: 84%;
      --corner-top-height: 19.875rem;
    }
  }
</style>
