---
import { Image } from "astro:assets";
import UnderlineH2 from "./elements/UnderlineH2.astro";
import img from "../assets/img/test.jpg";
---

<section class="asked">
  <div class="container">
    <section class="w-488">
      <header class="asked-header">
        <h2 class="text-h2 text-capitalize">Frequently Asked Questions</h2>
        <UnderlineH2 />
        <p class="asked-header__description text-basic text-basic--20">
          Thanks to our clients for their trust! We strive to provide the best services.
        </p>
      </header>
      <div class="asked-foto">
        <div class="corner-box">
          <div class="corner-box__bottom" aria-hidden="true"></div>
          <Image class="img-cover" src={img} width={590} height={601} alt="house" />
        </div>
      </div>
    </section>
    <section>
      <h1>Asked</h1>
    </section>
  </div>
</section>

<style>
  .asked {
    padding-top: var(--indent_100-90);
    padding-bottom: var(--indent_200-90);
  }

  .asked-foto {
    width: 100%;
    height: 33.625rem;
  }

    /** corner */
    .asked-foto .corner-box {
    --corner-bottom-width: 75%;
    --corner-bottom-height: clamp(10rem, 0.6713rem + 38.2716vw, 29.375rem); /** 478 160 при 1200 vs 390*/
  }
</style>
