---
import ButtonSmall from "./elements/ButtonSmall.astro";
import UnderlineH1 from "./elements/UnderlineH1.astro";

import { Image } from "astro:assets";
import imgHouse from "../assets/img/house-1.webp";
---

<section class="hero">
  <div class="container">
    <div class="hero-wrap">
      <section class="hero-content">
        <div class="hero-content__wrap">
          <h1 class="hero-title text-h1">
            <span class="hero-title__e1">home</span>Shine
          </h1>
          <p class="hero-subtitle text-underline">PAINTING</p>
          <UnderlineH1 width={270} />
          <p class="hero-description text-s">
            Transform Your Home With a Professional Touch Beautiful interiors. Durable exteriors. Flawless decks &
            kitchens.
          </p>
          <ButtonSmall textButton="CONTACT US" className2="btn-center" />
        </div>
      </section>
      <section class="hero-foto">
        <div class="corner-box">
          <div class="corner-box__top" aria-hidden="true"></div>
          <div class="corner-box__bottom" aria-hidden="true"></div>
          <Image class="img-cover"
            src={imgHouse}
            alt="house"
            widths={[320, 590]}
            height={601}
            loading="eager"
            sizes="(max-width: 768px) 100vw, 590px"
          />
        </div>
      </section>
    </div>
  </div>
</section>

<style>
  .hero {
    padding-top: clamp(1.25rem, 9.8765vw - 1.1574rem, 6.25rem); /*100 36 при 1200 vs 390*/
    padding-bottom: clamp(2.75rem, 0.0417rem + 11.1111vw, 8.375rem); /*134 44 при 1200 vs 390*/
  }

  .hero-wrap {
    display: flex;
    justify-content: space-between;
    gap: var(--gap);
  }

  .hero-content {
    flex: 1;
    max-width: 36.875rem;
    padding-right: var(--padding-35);
    margin-bottom: 2.875rem;
  }

  .hero-title {
    color: var(--color-primary);
    text-transform: capitalize;
  }

  .hero-title__e1 {
    color: var(--color-secondary);
  }

  .hero-subtitle {
    --width-underline: 16.875rem;
    position: relative;
    font-family: var(--font-family-secondary);
    font-weight: 500;
    font-size: var(--indent_60-40);
    letter-spacing: 0.13em;
    background: linear-gradient(
      90deg,
      var(--color-primary) 0%,
      var(--color-subsidiary) 50%,
      var(--color-secondary) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
  }

  .hero-description {
    margin-top: var(--indent_44-24);
    margin-bottom: var(--indent_90-60);
  }

  .hero-foto {
    max-width: 590px;
    width: 100%;
    height: 37.5625rem;
  }

  /** corner */
  .hero-foto .corner-box {
    --corner-bottom-width: 75%;
    --corner-bottom-height: clamp(10rem, 0.6713rem + 38.2716vw, 29.375rem); /** 478 160 при 1200 vs 390*/
    --corner-top-width: 75%;
    --corner-top-height: clamp(10rem, 0.6713rem + 38.2716vw, 29.375rem); /** 478 160 при 1200 vs 390*/
  }

  @media screen and (max-width: 992.98px) {
    .hero-content__wrap {
      display: flex;
      flex-direction: column;
    }

    .hero-wrap {
      flex-direction: column;
      align-items: center;
    }

    .hero-content {
      flex: 1;
      padding-right: 0;
    }

    .hero-foto {
      height: auto;
    }

    /** corner */
    .hero-foto .corner-box {
      aspect-ratio: 590 / 601;
      --corner-top-width: 50vw;
      --corner-bottom-width: 50vw;
    }
  }

  @media screen and (max-width: 575.98px) {
    .hero-title {
      line-height: 105%;
    }
  }
</style>
