---
import Button from "./elements/Button.astro";
import { Image } from "astro:assets";
// import imgHouse from "../assets/img/test.jpg";
import imgHouse from "../assets/img/house-1.png";
---

<section class="hero">
  <div class="container">
    <div class="hero-wrap">
      <section class="hero-content">
        <div>
          <h1 class="hero-title text-h1">
            <span class="hero-title__e1">home</span>Shine
          </h1>
          <p class="hero-subtitle">PAINTING</p>
          <p class="hero-description text-s">
            Transform Your Home With a Professional Touch Beautiful interiors. Durable exteriors. Flawless decks &
            kitchens.
          </p>
          <Button />
        </div>
      </section>
      <section class="hero-foto">
        <div class="hero-foto-wrap">
          <Image class="hero-foto-wrap__img" src={imgHouse} width={590} height={601} alt="house" />
        </div>
      </section>
    </div>
  </div>
</section>

<style>
  .hero {
    padding-top: clamp(1.25rem, 9.8765vw - 1.1574rem, 6.25rem); /*100 36 при 1200 vs 390*/
    padding-bottom: clamp(2.75rem, 0.0417rem + 11.1111vw, 8.375rem); /*134 44 при 1200 vs 390*/
  }

  .hero-wrap {
    display: flex;
    justify-content: space-between;
    gap: var(--gap);
  }

  .hero-content {
    flex: 1;
    max-width: 590px;
    padding-right: 35px;
    margin-bottom: 46px;
  }

  .hero-title {
    color: var(--color-primary);
    text-transform: capitalize;
  }

  .hero-title__e1 {
    color: var(--color-secondary);
  }

  .hero-subtitle {
    display: inline-block;
    font-family: var(--font-family-secondary);
    font-weight: 500;
    font-size: clamp(2.5rem, 1.7778rem + 2.963vw, 4rem); /*64 40 при 1200 vs 390*/
    letter-spacing: 0.13em;
    background: linear-gradient(
      90deg,
      var(--color-primary) 0%,
      var(--color-subsidiary) 50%,
      var(--color-secondary) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
  }

  .hero-description {
    margin-top: 60px;
    margin-bottom: 90px;
  }

  .hero-foto {
    max-width: 590px;
    width: 100%;
    height: 601px;
  }

  .hero-foto-wrap {
    --step-img: calc(-1 * clamp(0.625rem, 0.3241rem + 1.2346vw, 1.25rem));
    position: relative;
    max-width: inherit;
    width: inherit;
    height: 100%;
    background-color: var(--color-main);
  }
  .hero-foto-wrap::after,
  .hero-foto-wrap::before {
    z-index: -1;
    position: absolute;
    content: "";
    width: 75%;
    height: clamp(10rem, 0.6713rem + 38.2716vw, 29.375rem); /** 478 160 при 1200 vs 390*/
    background: linear-gradient(135deg, #e1f5fe 0%, #0a93ef 100%);
  }

  .hero-foto-wrap::after {
    top: var(--step-img);
    right: var(--step-img);
  }

  .hero-foto-wrap::before {
    bottom: var(--step-img);
    left: var(--step-img);
  }

  .hero-foto-wrap__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media screen and (max-width: 992.98px) {
    .hero-wrap {
      flex-direction: column;
      align-items: center;
    }

    .hero-content {
      flex: 1;
      padding-right: 0;
    }

    .hero-foto {
      height: auto;
    }

    .hero-foto-wrap {
      aspect-ratio: 590 / 601;
    }

    .hero-foto-wrap::after,
    .hero-foto-wrap::before {
      width: 50vw;
    }
  }

  @media screen and (max-width: 575.98px) {
    .hero-title {
      line-height: 105%;
    }
  }
</style>
