---
import { Image } from "astro:assets";
import img from "../assets/img/house-2.png";
import Button from "./elements/Button.astro";
import ButtonSmall from "./elements/ButtonSmall.astro";
import UnderlineH2 from "./elements/UnderlineH2.astro";
---

<section class="practice">
  <div class="container">
    <div class="practice-wrap">
      <section class="practice-content w-588">
        <div class="practice-content__wrap">
          <header>
            <h2 class="practice-content__title text-h2">Practice Areas</h2>
            <UnderlineH2 />
          </header>
          <p class="practice-content__description text-basic text-basic--16">
            The HomeShine Painting team provids a tailored approach to every project. We understand that each space is
            unique and deserves special attention, offering quality painting for interiors, exteriors, kitchens, and
            decks, complemented by expert color selection.
          </p>
          <ul class="practice-content-list text-basic text-basic--16">
            <li><span>Comprehensive Range of Services</span></li>
            <li><span>Experience in Various Painting Types</span></li>
            <li><span>Professional Color Consultation</span></li>
          </ul>
          <p class="practice-content__text text-basic text-basic--16">
            Our experts thoroughly develop projects and supervise the construction process from the very beginning to
            the end of the works.
          </p>
        </div>
        <ButtonSmall textButton="VIEW PORTFOLIO" />
      </section>
      <section class="practice-img">
        <Image class="practice-img__img img-cover" src={img} width={710} height={697} alt="house" />
      </section>
    </div>
  </div>
</section>
<section class="practice-asked">
  <div class="container">
      <div class="practice-asked__wrap  ">
        <div class="content w-588">
        <h2 class="content__title text-h2">Want to Work with Us?</h2>
        <p class="content__description text-basic text-basic--16">
          Our team of painting design is ready to work on your project!
        </p>
      </div>
      <Button text="START NEW PROJECT" className="btn-big" className1="btn-center" />
    </div>
  </div>
</section>

<style>
  .practice {
    background-color: var(--color-primary);
    overflow: hidden;
  }
  .practice-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--gap);
  }

  .practice-content {
    padding-top: var(--indent_100-40);
    padding-bottom: var(--indent_100-40);
  }

  .practice-content__wrap {
    display: flex;
    flex-direction: column;
    row-gap: var(--indent_24-36);
    margin-bottom: var(--indent_50-100);
  }

  .practice-content__title,
  .practice-content-list {
    color: var(--color-main);
  }

  .practice-content__description,
  .practice-content__text {
    color: var(--color-tertiary);
  }

  .practice-content-list {
    --list-outside: 2rem;
    margin-left: var(--list-outside);
  }

  .practice-content-list li {
    position: relative;
  }

  .practice-content-list li:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  .practice-content-list li::after {
    position: absolute;
    content: url("../icons/icons_check.svg");
    top: 0;
    left: calc(-1 * var(--list-outside));
  }

  .practice-img {
    position: relative;
  }

  .practice-img__img {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(50vw - var(--gap));
    height: 100%;
  }
  .practice-asked {
    background-color: var(--color-secondary);
    padding-top: var(--indent_44);
    padding-bottom: var(--indent_44);
  }

  .practice-asked__wrap {
    display: flex;
    justify-content: space-between;
  }

  .practice-asked__wrap .content__title {
    color: var(--color-main);
  }

  .practice-asked__wrap .content__description {
    margin-top: var(--indent_24);
    color: var(--color-tertiary);
  }

  @media screen and (max-width: 61.9988rem) {
    .practice-wrap {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
    }

    .practice-content {
      justify-self: center;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .practice-img {
      width: 100%;
      max-height: 590px;
      aspect-ratio: 0.835;
    }
    .practice-img__img {
      position: absolute;
      left: calc(-1 * var(--pad-container));
      width: calc(100vw - var(--pad-container));
    }

    .practice-asked__wrap {
      flex-direction: column;
      align-items: center;
    }

    .practice-asked__wrap .content {
      margin-bottom: var(--indent_60);
      text-align: start;
    }
  }
</style>
