---
import { getCollection } from "astro:content";
const contactEntries = await getCollection("information");
const contactInfo = contactEntries[0].data;
---
<a href={contactInfo.youtube}>
  <svg class="icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_63_2076)">
      <path
        class="icon-fill"
        d="M18.5648 15.7329L14.9712 14.0561C14.6576 13.9105 14.4 14.0737 14.4 14.4209V17.5793C14.4 17.9265 14.6576 18.0897 14.9712 17.9441L18.5632 16.2673C18.8784 16.1201 18.8784 15.8801 18.5648 15.7329ZM16 0.640137C7.51682 0.640137 0.640015 7.51694 0.640015 16.0001C0.640015 24.4833 7.51682 31.3601 16 31.3601C24.4832 31.3601 31.36 24.4833 31.36 16.0001C31.36 7.51694 24.4832 0.640137 16 0.640137ZM16 22.2401C8.13762 22.2401 8.00001 21.5313 8.00001 16.0001C8.00001 10.4689 8.13762 9.76014 16 9.76014C23.8624 9.76014 24 10.4689 24 16.0001C24 21.5313 23.8624 22.2401 16 22.2401Z"
      >
      </path>
    </g>
    <defs>
      <clipPath id="clip0_63_2076">
        <rect width="32" height="32" fill="white"></rect>
      </clipPath>
    </defs>
  </svg>
</a>
