---
interface Props {
    color?: string;
}

const {color} = Astro.props;

const colorUnderline: string = color ? `var(--color-${color})` : "var(--color-secondary)";
---

<div class="underline-h2" aria-hidden="true"></div>

<style define:vars={{ colorUnderline }}>
  .underline-h2 {
    width: 5.0625rem;
    height: .1875rem;
    background-color: var(--colorUnderline);
    margin-top: 1rem;
    border-radius: .1875rem;
  }
</style>
