---
interface Props {
    color?: string;
}

const {color} = Astro.props;

const colorUnderline: string = color ? `var(--color-${color})` : "var(--color-secondary)";
---

<div class="underline-h2" aria-hidden="true"></div>

<style define:vars={{ colorUnderline }}>
  .underline-h2 {
    width: 81px;
    height: 3px;
    background-color: var(--colorUnderline);
    margin-top: 16px;
    border-radius: 3px;
  }
</style>
