---
interface Props {
    color: string;
}

const {color} = Astro.props;

let colorUnderline = `var(--${color})`;
---

<div class="underline-h2" aria-hidden="true"></div>

<style define:vars={{ colorUnderline }}>
  .underline-h2 {
    width: 81px;
    height: 3px;
    background-color: var(--colorUnderline);
    margin-top: 16px;
    border-radius: 3px;
  }
</style>
